*{  
    margin: 0;
    padding: 0;
    font-family: 'Baloo Thambi 2', cursive;
    box-sizing: border-box;
}
body{
    background: url('../img/bg3.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    font-family: 'Baloo Thambi 2', cursive;
 }

 .container{

    width: 80%;
    height: 400px;
    margin: auto;
    /* border: 2px solid black; */
    margin-top: 208px;
 }

 .ques{
     
    font-size: 25px;
    height: 40%;
    /* border: 2px solid red; */
    margin: 0px 2px;
    background: #cac4bc;
    padding: 35px 26px;
    border-radius: 49px
 }
 .ans{
     
    height: 58%;
    /* border: 2px solid blue;
    background-color: blanchedalmond; */
    display: grid;
    grid-template-columns: 1fr 1fr;
 }

 .option{

    height: 47px;
    background-color: #faf9f9;
    /* -ms-grid-column-align: center;
    -ms-grid-row-align: center; */
    /* margin: 1px 3px; */
    width: 63%;
    margin: auto;
    border-radius: 73px;
    border: 1px black solid;
    padding: 7px 22px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
 }

 .my-2{

    margin-bottom: 10px;
 }

 .submit{
    text-align: center;

 }

 .btn{

    width: 8%;
    height: 37px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    background-color: #3535e1;
    font-family: 'Baloo Thambi 2', cursive;
 }
 .hidden{
    display: none;
 }

 .green{

   background-color: green;
 }

 .red{
    background-color: red;
 }

 .score{

   position: absolute;
   top: 5px;
   right : 5px;
   text-align: center;
 }

